.App {
  text-align: center;
  font-size: small;
}

.AppLogo {
  height: 70px;
}

.AppHeader {
  background-color: #222;
  height:  100px;
  padding: 0px;
  color: white;
}

.AppHeader {
  position: relative;
  text-align: center;
  color: white;
}

.AppHeader nav {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.AppHeader a {
    color: white;
    text-decoration: none;
}

.AppHeader a:link, a:visited {
  padding: 0px 0px;
  text-align: center; 
  text-decoration: none;
  display: inline-block;
}

.AppHeader a:hover, a:active {
  background-color: #ae0402;
}

.AppLinks {
}

.AppTicker{
}

.AppDelegate{
}

table{
  margin:auto;
}