.App {
  text-align: center;
  font-size: small;
}

.AppLogo {
  height: 70px;
}

.AppJarunik {
  height: 70px;
}

.AppHeader {
  background-color: #202225ff;
  height:  100px;
  padding: 0px;
  color: white;
  position: relative;
  text-align: center;  
}

.AppHeader a {
  color: white;
}

.AppMain a {
  color: #0ba027ff;
}

.AppMain a:visited {
  color: #0b5d27ff;
}

.AppMain {
  text-align: center;  
}

table {
  text-align: center;
  margin: auto;
  border-collapse: collapse;
}

table, th, td {
  padding: 0px 4px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}