.App {
  text-align: center;
  font-size: small;
}

.AppLogo {
  height: 70px;
}

.AppJarunik {
  height: 70px;
}

.AppHeader {
  background-color: #202225ff;
  height:  100px;
  padding: 0px;
  color: white;
  position: relative;
  text-align: center;  
}

.AppHeader a {
  color: white;
  /*color: #f80000ff;*/
}

.AppMain a {
  color: #0ba027ff;
  /*color: #0bbd27ff;*/
}

.AppMain a:visited {
  color: #0b5d27ff;
  /*color: #0b7b27ff;*/ 
}


.AppMain {
  text-align: center;  
/*  color: white;
  background-color: #36393eff;*/
}

.AppNews a.atdate {
  text-decoration: none;
  color: grey;
  size: 1;
}

table{
  text-align: center;
  border-collapse: collapse;
  margin:auto;
}

table, th, td {
  text-align: center;
  border-bottom: 1px solid #ddd;
}